<h4 class="col-md-offset-2" style="font-style:italic;">Set security questions</h4>
<div ng-controller="questionController">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
<div style="padding-top:30px;" class="panel-body">
<form class="form-horizontal" role="form" name="questionForm" ng-submit="addUserQuestions()" novalidate>
	<div ng-repeat="i in [1,2,3]">					
		<div class="form-group">
			<label class="col-sm-2 control-label">Question {{i}}</label>
			<div class="col-sm-10">
			<select class="form-control" ng-change="updateSelected(setQuestion[$index].question)" ng-model="setQuestion[$index].question" required>
				<option ng-repeat="question in questions" value="question" ng-disabled="question.selected">{{question.name}}</option>
			</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Answer</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" ng-attr-name="{{::i}}" ng-model="setQuestion[$index].answer" required ng-minlength=5 ng-maxlength=50></input>
				<p class="error-messages" ng-if="questionForm[i].$dirty && questionForm[i].$error.required || questionForm[i].$error.minlength || questionForm[i].$error.maxlength">Required with length between 5-50 characters</p>
			</div>
		</div>			
	</div>		
	<div id="form-button" class="form-group">
		<input type="submit" value="Submit" class="btn btn-primary" ng-disabled="questionForm.$invalid"></input>
	</div>				
</form>	
</div>
</div>
</div>
</div>
</body>
</html>